.btn {
    border: none;
    box-shadow: none;
    border-radius: 0.25em;

    font: {
        size: 1.4rem;
        family: $secondary-font;
    }

    color: $platinum;
    padding: 0.6em 2.2em;
    cursor: pointer;
    background: $darkblue;

    &:focus {
        outline: none;
    }

    .no-touch &:hover {
        background: lighten($darkblue, 5%);
    }

    &.btn-success {
        background: $success;

        .no-touch &:hover {
            background: lighten($success, 5%);
        }
    }

    &.btn-alert {
        background: $alert;

        .no-touch &:hover {
            background: lighten($alert, 5%);
        }
    }

    &.btn-outline {
        color: $darkblue;
        background: transparent;
        box-shadow: inset 0 0 0 1px $darkblue;

        .no-touch &:hover {
            color: $platinum;
            background: $darkblue;
        }
    }

    @include MQ(S) {
        font-size: 1.6rem;
    }
}

.cd-buttons .cd-box:nth-of-type(2) span {
    /* CSS class name color */
    color: $darkblue;
}
