/*****************
    *
    *        COLORS
    *

********************/

$darkblue: #1a323e; // dark blue
$lightblue: #1b729f; // light blue
$white: white;   // white
$red: #f23c27; // red
$platinum: #ede6e3; // platinum
$darkred: #902724;
$gold: #f7d281;