/*****************
    *
    *        COLORS
    *

********************/

$color-1: #2F687B; // dark blue
$color-2: #538597; // light blue
$color-3: white;   // white
$color-4: #F06449; // red
$color-5: #ede6e3; // platinum