/*****************
    *
    *        COLORS
    *

********************/

$darkblue: #2F687B; // dark blue
$lightblue: #538597; // light blue
$white: white;   // white
$red: #F06449; // red
$platinum: #ede6e3; // platinum
$gold: gold;