@import './colors';
// breakpoints

$S: 768px;
$M: 1024px;
$L: 1600px;

// media queries

@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (min-width: $S) {
      @content;
    }
  }

  @else if $canvas==M {
    @media only screen and (min-width: $M) {
      @content;
    }
  }

  @else if $canvas==L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

@mixin titleStyle {
  h3{
    margin-left: 15%;
    padding-top: 75px;
    text-align: center;
    height: 169px;
    width: 374px;
    color: $darkblue;
    background-image: url('../src/images/starburst1.png');
    background-size: cover;
    transition: .1s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}

//header layout
#zen-intro header { 
  //background-color: $lightblue;
  background-image: url("./images/comics.jpeg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//header layout continued
.intro{
  margin: 0;
}

section:nth-of-type(1) h2::before {
  display: none;
}

//Weird Content after Header: summary and preamble classes
.summary, .preamble{
  padding: 5vh;
  background-color: $platinum;
}

.preamble h3 {
  color: $red;
  margin-bottom: .35em;
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}


.design-archives, .zen-resources{
  display: none;
}

// main will be one grid container
.main {
  width: 100%;
  height: 300px;
  display: block;
  a {
    color: lightgreen;
  }

  >div {
    border: 2px solid $red;
  }
  
}

.explanation {
  display:grid;
  grid-template-columns: 1fr;
  grid-area: expl;
  color: $white;
  background-color:$lightblue;
  > p {
    color:$white;
    border: 2px solid $gold;
    margin: 1em;
  }
  
  @include titleStyle;

  
}
.participation {

  display:grid;
  grid-template-columns: 1fr;
  grid-area: part;
  color: $white;
  background-color:$darkblue;
  > p {
    color:$white;
    border: 2px solid $gold;
    margin: 1em;
  }
  
  @include titleStyle;
  
}

.benefits {
  background-color:$lightblue;
  color:$white;

  > h3 {
    margin: auto;
    text-align: center;
  }

  grid-area: bene;
}
aside {
  display: none;
}

//Utility Belt Stylings
footer{
	grid-area: foot;
	background: $gold;
	display: flex;//x
	justify-content: space-evenly;//x
	align-items: flex-end;//x
	position: sticky;//x
	padding: 1.5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 30%;
  overflow: visible;
  }
  
  footer{
	background-color: #f7d281;
    a{
	display: flex;               
	justify-content: center;
	align-items: center;
	border: 10px solid #F7DCA3;
	background-color: #FFC13D;
	width: 12.5%;//x
	height: 170%;//x
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
	color: white !important;//x
	font-family: arial;
	transition: .3s;
	} 
  }
  
  a:nth-child(3){
	   border-radius: 50%;
	   width: 17.5%;
	   height: 175%;
	  font-size: 25px;
	 }
  
  footer a:hover{
	transform: translate(0px, -10px);
	font-size: 30px;
  }
  
  footer a:nth-child(3):hover{
	transform: translate(0px, -10px);
	font-size: 50px;
  }

  //End of Utility Belt Stylings

.requirements {
  justify-content: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-area: reqs;
  color: $white;
  background-color: $darkblue;

  >p {
    color: $white;
    border: 2px solid $gold;
  }
  @include titleStyle;
}


//The other zen gardens
.design-selection {
  li:nth-child(odd){
    a{
      display:block;
    }
    padding-top: 60px;
    
    text-align: center;
    height: 169px;
    width: 374px;
    z-index: 25;
    background-image: url('../src/images/starburst1.png');
    background-size: cover;
  }
}
.design-selection {
  li:nth-child(even){
    a{
      display:block;
    }
    padding-top: 60px;
    
    text-align: center;
    height: 169px;
    width: 374px;
    z-index: 25;
    background-image: url('../src/images/starburst2.png');
    background-size: cover;
  }
}

@media only screen and (min-width: $L){
  footer { height: 100%;}
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "expl expl expl . . . . "
                        "expl expl expl part part part part "
                        ". . . part part part part "
                        ". reqs reqs reqs . . ."
                        ". reqs reqs reqs . bene bene"
                        ". reqs reqs reqs . . ."
                        "foot foot foot foot foot foot foot";
  }
}

@media only screen and (min-width: $M){
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "expl expl expl ."
                        "expl expl expl ."
                        "part part part part"
                        "part part part part"
                        ". reqs reqs reqs"
                        ". reqs reqs reqs"
                        ". reqs reqs reqs"
                        ". bene bene ."
                        "foot foot foot foot";
  }
  
}

@media only screen and (min-width: $S) {
  .requirements, .participation, .explanation {
    grid-template-columns: 1fr 1fr;
  }
}