header {
    background-color: $lightblue;
}

.cd-logo {
    /* logo box style */
    background-color: $darkblue;
    width: 120px;

    @include MQ(M) {
        width: 180px;
    }
}

.cd-main-nav, .cd-navigation{
    /* main navigation background color - full screen on small devices */
    background: $lightblue;

    li a {
        color: $platinum;
        border-color: lighten($lightblue, 5%);
    }

    @include MQ(M) {
        li a {
            color: lighten($lightblue, 40%);

            &.selected {
                color: $platinum;
                box-shadow: 0 2px 0 $darkblue;
            }

            &:hover {
                color: $platinum;
            }
        }
    }
}

.cd-nav-trigger span {
    /* hamburger menu */
    background-color: $platinum;

    &::before,
    &::after {
        /* upper and lower lines */
        background-color: $platinum;
    }
}

.nav-is-visible .cd-nav-trigger span {
    /* hide line in the center on mobile when nav is visible */
    background-color: rgba($platinum, 0);

    &::before,
    &::after {
        /* preserve visibility of upper and lower lines - close icon */
        background-color: rgba($platinum, 1);
    }
}

.cd-download {
    /* download button top-right visible on big devices */
    background-color: lighten($lightblue, 10%);

    .no-touch &:hover {
        background-color: lighten($lightblue, 15%);
    }

    span {
        /* tooltip */
        background: $darkblue;
        color: $platinum;

        &::before {
            /* right arrow color */
            border-color: $darkblue;
        }
    }
}
